Source: mk
Section: devel
Priority: optional
Maintainer: Norman Ramsey <nr@eecs.harvard.edu>
Build-Depends: debhelper (>= 4.0.0), dpatch
Standards-Version: 3.7.2

Package: mk
Architecture: any
Depends: ${shlibs:Depends}
Description: a Make replacement from Plan-9, small and elegant
 Mk controls a compilation process for a set of source files based on
 rules in a mkfile which is similar to a Makefile. Compared to Make, Mk
 is simpler and integrates better with the shell.
