DEPEND.*
*.ml
*.mli
*.mly
*.cmi
*.cmo
a.out
*.tex
*.dvi
*.ps
*.log
*.aux
*.cmx
*.cma
*.mll
/oclua-*
/oclua-*.opt
/oclbench-*
/tspecl
/lspecl
/tspecl.icn
/lspecl.icn
.nfs*
/luaclient
*.htoc
*.haux
/lua-ml.tar
/lua-ml.tar.gz
P=*
/luaparsex.output
