DEPEND
lib*.a
*.aux
*.dvi
*.log
*.ps
*.toc
P=*
*.s
*.o
*.inc
*.exe
/runtime.c
/pcmap.c
/gcc-linux.c
/qc--runtime.h
/pcmap.h
/pcmap.ld
/cut.c--
/thread.c--
/yield.c--
/gcc-linux.tex
/pcmap.tex
/runtime.tex
