/index.tex
/cfg.tex
/refactor.tex
/stack.tex
/release.tex
*.aux
*.dvi
*.log
*.toc
*.1
*.man
*.inc
/cfg.ps
/better.ps
/working.ps
/newtarget.ps
/modules.ps
/backend.ps
/refactor.ps
/qc--.ps
/qc--internals.ps
/qc--interp.ps
/index.ps
/cfg.pdf
/better.pdf
/working.pdf
/newtarget.pdf
/modules.pdf
/backend.pdf
/refactor.pdf
/qc--.pdf
/qc--internals.pdf
/qc--interp.pdf
/index.pdf
