Source: qcmm
Section: devel
Priority: optional
Maintainer: Christian Lindig <lindig@eecs.harvard.edu>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: qcmm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblua40-dev, liblualib40-dev
Description: Quick C-- compiler for the portable assembly language C--
 C-- is a machine-level intermediate language  with a concrete syntax
 and a runtime system that hides machine-specific details from a
 frontend (i.e. compiler) that emits C--.  As of now, Quick C-- emits
 code for the architectures x86, Alpha, MIPS, PPC, and I64 where code
 generation for x86 is the most mature.  The Quick C-- compiler is of
 most interest to developers of languages that require advanced features
 at run-time, like garbage collection, exceptions, and threads. This
 package includes the qc-- compiler, interpreter, and runtime system.
 More information about C-- and Quick C-- can be found at
 http://www.cminusminus.org/.
