Source: qcmm
Section: devel
Priority: optional
Maintainer: Christian Lindig <lindig@eecs.harvard.edu>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: qcmm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Quick C-- compiler for the portable assembly language C--
 Quick C-- is a compiler for the portable assembly language C--
 (http://www.cminusminus.org/). C-- is an intermediate language for
 compilers with a concrete syntax and a runtime system that hides
 machine-specific details from the frontend that emits C--. The Quick
 C-- is of most interest to developers of languages that require
 advanced features at run-time, like garbage collection, exceptions, and
 threads.
